.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 75px;
    bottom: 20px;
  }
  .Icon-logo {
    animation-name: bounce; 
    animation-duration: 1.0s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
    padding: 5px;
    height: 72px;
    width: 72px;
    text-align: center;
    bottom: 50px;
    position: absolute;
    top: var(--offset);
    left: calc(50% - var(--logo-size) / 2);    
  }
.col_icons {
   
    padding: 5px;
    height: 72px;
    width: 72px;
    text-align: center;
    bottom: 50px;
    
  }
.container {
    position: relative;
  }

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
  }
@keyframes bounce {
    from { 
      transform: translateY(0) scale(1);
    }
    to   { 
      transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
  }
  @-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}