/* Navbar */
/* Style the navbar */
a{
  color: rgb(136, 146, 176);
  display: inline;
}
#navbar {
  overflow: hidden;
  background-color: #39747E;
  height: 80px;  /* 64 + 16px */
  
  /* negative top allows for 16 pixels of movement before sticking */
  top: -16px; 
  /* make sure header overlaps main*/
  z-index: 1;
  color: white;
  text-align: center;
  /* fix weird flickering issue in chrome: https://stackoverflow.com/a/22224884/286685 */
  -webkit-backface-visibility: hidden;

  /* Fixed Navbar */
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: 100px;
    font-size: 15px;
    z-index: 1000;
}

/* Navbar links */
#navbar a {
  float: right;
  display: inline;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar::before {
    top: 48px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
/* COVER */
.navbar::after {
    /* linear gradient from background color to transparent acts as
       a transition effect so the shadow appears gradually */
       background: linear-gradient(white 10%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4) 70%, transparent);
       top: 0;
       /* cover should fall over shadow */
       z-index: 2;
}

#nav_nums {
    color: white;
    padding: 5px;
}

.category {
    display: inline;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    padding: 3px 20px 20px;
    font-size: 18px;
}
.type {
  display: inline;
}
#link{
  display: inline;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


